<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Corona Emailer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        #container-center{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
        }
    </style>
</head>
<body>
<div class="container" align="center" id="container-center">
    <h1 class="title">Subscribe to stay updated</h1>
    <form action="#" th:action="@{/subscribe}" method="post" th:object="${emailobj}">
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Enter email" th:field="*{email}">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="button is-success is-rounded">Subscribe</button>
        </div>
    </form>
</div>
</body>
</html>